@font-face {
  font-family: Inter;
  src: url(fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: Torus;
  src: url(../fonts/TorusPro-Regular.ttf);
}

body {
  font-family: Torus;
  margin: 0;
  padding: 0;
  background-color: #171717;
}

.body-background {
  background-image: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.005) 0,
      rgba(255, 255, 255, 0.005) 1px,
      transparent 1px
    ),
    linear-gradient(to right, rgba(255, 255, 255, 0.01) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.01) 1px, transparent 1px);
  background-size: 20px 20px;
  background-attachment: fixed;
}

header {
  background-color: #171717;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

header h1 {
  margin: 0;
  font-size: 28px;
}

main {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: center;
}

.skin {
  background-color: #202020;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.skin:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.skin h2 {
  font-size: 20px;
  margin-bottom: 10px;
  transition: color 0.3s ease;
}

.skin:hover h2 {
  color: white;
}

.skin img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.skin p {
  font-size: 16px;
  line-height: 1.5;
}

.skin a {
  color: rgba(212, 212, 212, 1);
  text-decoration: none;
  position: relative;
}

.skin a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: rgba(212, 212, 212, 0.2);
  transition: transform 0.3s ease;
  transform-origin: center;
  transform: scaleX(0);
}

.skin a:hover::after {
  transform: scaleX(1);
}
