@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@font-face {
  font-family: Torus;
  src: url(../../fonts/TorusPro-Regular.ttf);
}

body {
  font-family: Torus;
  background-color: rgb(10, 10, 10);
  color: rgb(212, 212, 212);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  color: white;
}

.back-btn {
  color: rgb(212, 212, 212, 0.7);
  text-decoration: none;
}

header {
  padding: 20px;
  color: white;
}

.request {
  display: inline-block;
  margin-top: 35px;
  margin-left: 35px;
  padding: 10px 20px;
  background-color: #fafafa;
  color: #09090b;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.request:hover {
  background-color: #e2e2e2;
}

header input {
  margin-top: 10px;
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 5px;
  background-color: rgb(30, 30, 30);
}

input {
  border: none;
  color: white;
}

input:focus {
  outline: none;
}

#skin-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}

.skin-card {
  background-color: rgb(15, 15, 15);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  animation: fadeIn 0.5s ease forwards;
  border: 1px solid rgba(212, 212, 212, 0.1);
  position: relative;
  overflow: hidden;
  height: 450px;
  width: 550px;
}

/* .skin-card:hover {
  transform: translateY(-10px);
} */

.skin-card:hover::before {
  width: 300px;
  height: 300px;
  opacity: 1;
}

.skin-card img {
  max-width: 90%;
  border-radius: 5px;
  border: 1px solid rgba(212, 212, 212, 0.1);
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}

.skin-card h3 {
  margin: 10px 0 5px;
  font-size: 1.2em;
}

.skin-card .btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fafafa;
  color: #09090b;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.skin-card .btn:hover {
  background-color: #e2e2e2;
}

h2,
h3,
h4,
h5,
h6 {
  text-decoration: underline;
  text-decoration-color: rgb(212, 212, 212, 0.2);
  text-underline-offset: 3px;
}

p {
  font-weight: bold;
  color: white;
}
